/* styles for scrolling table */
.ewScrollableTable .ewScrollableTableHeader {
	overflow: hidden;	
}
.ewScrollableTable .ewScrollableTableHeader > table {
	border-collapse: separate;
}
.ewScrollableTable .ewScrollableTableHeader .ewScrollableTableOverhang {
	padding: 0;
	border: 0;
	border-bottom: 1px solid; /* header border width */
	border-color: #4E4F51; /* header border color */
	background-color: #282828; /* header bgcolor	*/
	background-image: -webkit-linear-gradient(top, #9E9E9E, #282828);	
	background-image: linear-gradient(to bottom, #9E9E9E, #282828);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9E9E9E', endColorstr='#282828', GradientType=0);
	background-repeat: repeat-x;		
}
